form.signup,
form.login {
  margin-top: 50px;
}

* {
  font-family: fantasy;
  color: darkblue
}

.navbar {
  background: turquoise;
  color: darkblue
}

body {
  background: turquoise;
  color: darkblue
}


